<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <meta charset="utf-8" title="<%= title %>">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:locale" content="<%= lang %>">
  <meta property="og:description" content="<%= description %>">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <header>
    <img src="/images/logo_black.svg" alt="SunWatch" height="32">
    <form action="/" method="GET" class="flex" style="max-width: 330px;">
      <input type="number" name="lat" value="<%= lat %>" step="any" class="accent" placeholder="<%= locale.latitude %>">
      <input type="number" name="long" value="<%= long %>" step="any" class="accent" placeholder="<%= locale.longitude %>">
      <input type="date" name="date" value="<%= date_s %>" class="accent" placeholder="<%= locale.date %>">
      <input type="time" name="time" value="<%= time_s %>" class="accent" placeholder="<%= locale.time %>">
      <input type="submit" hidden class="accent icon" value="→">
    </form>
  </header>

  <div class="sun_graphic">
    <svg viewBox="0 0 1646 484" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="height:<%= graph_y %>px">
    <path d="M0 482C418.298 482 404.559 2 822.857 2C1241.16 2 1227.42 482 1645.71 482" stroke="url(#paint0_linear_2_5)" stroke-width="4" class="fill"/>
    <defs>
    <linearGradient id="paint0_linear_2_5" x1="-0.000338016" y1="139.143" x2="1645.71" y2="138.982" gradientUnits="userSpaceOnUse">
    <stop stop-color="#003C1F"/>
    <stop offset="<%= 0.5 %>" stop-color="#E7CA43"/>
    <stop offset="<%= 0.5 %>" stop-color="#E7CA43"/>
    <stop offset="1" stop-color="#3C0000"/>
    </linearGradient>
    </defs>
    </svg>
  </div>

  <ol class="horizontal infographic">
    <img src="/images/line.svg" style="position: absolute;width: 100%;left: 50%;transform: translate(-50%) scaleX(0.95);margin: 0 auto;">
<% for (time of ["nightEnd", "nauticalDawn", "sunrise"]) { if (times[time] != "Invalid Date") { %>
    <li id="<%= time %>">
      <img src="/images/<%= time %>.webp" alt="<%= locale[time] %>" class="icon invert">
      <strong><%= locale[time] %></strong>
      <time datetime="<%= times[time] %>"><%= times[time] %></time>
    </li><% }} %>
<% if (maxElevation > 0) { %>
    <li id="solarNoon">
      <strong><%= locale.solarNoon %></strong>
      <time datetime="<%= times.solarNoon %>"><%= times.solarNoon %></time>
    </li><% } %>
<% times["nightStart"] = times.night %>
<% for (time of ["sunset", "dusk", "nightStart"]) { if (times[time] != "Invalid Date") { %>
    <li id="<%= time %>">
      <img src="/images/<%= time %>.webp" alt="<%= locale[time] %>" class="icon invert">
      <strong><%= locale[time] %></strong>
      <time datetime="<%= times[time] %>"><%= times[time] %></time>
    </li><% }} %>
  </ol>

<div class="gradient">
  <main>
    <center id="calendar">
      <table id="calendar_<%=month%>" class="calendar">
        <h3><%= month_s %> </h3>
        <thead><% for (i = 0; i < 7; i++) { %>
          <th><%= weekdays[i].toUpperCase() %></th><% } %>
        </thead>
        <tbody><% for (w = 0; w < calendar.length; w++) { %>
          <tr><% for (d = 0; d < calendar[w].length; d++) { %>
            <td<% if (calendar[w][d] == day) { %> class="accent"<% } %>><a href="/?date=<%=year%>-<%=month%>-<%= calendar[w][d] || '01' %>"><b><%= calendar[w][d] || '' %></b></a></td><% } %>
          </tr><% } %>
        </tbody>
      </table>
    </center>

    <ol class="infographic">
      <li id="minElevation">
        <strong><%= locale.minElevation %></strong>
        <span><%= Math.roundTo(minElevation, 2) %>° · <time datetime="<%= times.nadir %>" class="thin"><%= times.nadir %></time></span>
      </li>
      <li id="elevation">
        <strong><%= locale.att %> <%= locale.elevation %></strong>
        <span><%= Math.roundTo(elevation, 2) %>°</span>
      </li>
      <li id="maxElevation">
        <strong><%= locale.maxElevation %></strong>
        <span><%= Math.roundTo(maxElevation, 2) %>° · <time datetime="<%= times.solarNoon %>" class="thin"><%= times.solarNoon %></time></span>
    </ol>
  </main>

  <footer>
    <nav>
      <menu>
        <li><a href="/about">About</a></li>
        <li><a href="/sources">Sources</a></li>
        <li><a href="https://github.com/s7uck/SunWatch">Code</a></li>
      </menu>
    </nav>
  </footer>
</div>
</body>
</html>